<html>
<head>
    <title>resumes - <%= result[0].resume_id %></title>
</head>
<body>
<h1>resumes</h1>
<ul>
    <li>resume ID: <%= result[0].resume_id%></li>
    <li>resume email: <%= result[0].email %></li>
    <li>first name: <%= result[0].first_name %></li>
    <li>last name: <%= result[0].last_name %></li>
</ul>
</body>

</html>