<html>
<head>
    <title>schools - <%= result[0].school_id %></title>
</head>
<body>
<h1>schools</h1>
<ul>
    <li>school ID: <%= result[0].school_id%></li>
    <li>school email: <%= result[0].email %></li>
    <li>first name: <%= result[0].first_name %></li>
    <li>last name: <%= result[0].last_name %></li>
</ul>
</body>

</html>